/appdae_02/nbproject/private/
/appdae_02/build/
/appdae_02_v2/nbproject/private/
/appdae_02_v2/build/
/appdae_02 - copia/build/
/appdae_02 - copia/nbproject/private/
/appdae_03/nbproject/private/
/appdae_03/build/
/appdae_04/nbproject/private/

# Archivos NetBeans 
*.form
/appdae_04/build/
