/appdae_02/nbproject/private/
/appdae_02/build/
/appdae_02_v2/nbproject/private/
/appdae_02_v2/build/
/appdae_02 - copia/build/
/appdae_02 - copia/nbproject/private/
/appdae_03/nbproject/private/
/appdae_03/build/
/appdae_04/nbproject/private/

# Archivos NetBeans 

/appdae_04/build/
/Fernandez/nbproject/private/
/Fernandez/build/
/appdae_05/nbproject/private/
/appdae_05/build/
/appdae_06/nbproject/private/
/appdae_06/build/
nbproject/private/
/appdae_07/nbproject/private/
/appdae_07/build/
